<h1>會員註冊</h1>

<div class="row">
 <%= form_for @user do |f| %>
  <%= render "shared/form_errors", record: @user %>
 
 
 
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br><br>
  
  <div>
   <%= f.submit "註冊!", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>