<h1>Sign up</h1>

<div class="row">
 <%= form_for @user do |f| %>
 <% if @user.errors.any? %>
  <div id="error_explanation">
   <div class="alert alert-error">
    <%= pluralize @user.errors.count, "error" %>
   </div>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
 <% end %>
 
 
 
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br><br>
  
  <div>
   <%= f.submit "Register!", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>